process {
 // echo = params.echo

  cpus = 8
  memory = 12.GB
  time = 8.h // do not change
  
  // max resources limits defaults
 // max_cpus = 16
 // max_memory = 128.GB
 // max_time = 300.h // do not chang

 // maxErrors = -1
 // maxRetries = 3
 // maxForks = 200
 // queueSize = 200

  // Process-specific resource requirements
  withLabel: process_micro {
      cpus = 16
      memory = 24.GB
      time = 12.h
  }
  withLabel: process_small {
      cpus = 8
      memory = 16.GB
      time = 8.h
  }
  withLabel: process_medium {
      cpus = 16
      memory = 48.GB
      time = 8.h
  }
  withLabel: process_large {
      cpus = 16
      memory = 128.GB
      time = 8.h
  }
}
